h2 {border-bottom: 1px dotted #dedede;}
h3 {color: #3697CD;}
h2.tab a:hover {text-decoration:none;}
p {margin-bottom: 10px;}
table.jobs {width:100%;background: #FFF; margin-bottom:24px; border:1px solid #dedede;border-spacing: 0;
    border-collapse: collapse; padding:0;border-spacing: 0;}
table.jobs th.thtitle {background:#dedede; font-size:18px;}
table.jobs td {background:#FFF; border:1px solid #dedede; font-size:18px;}

table.addjobs {width:100%;background: #FFF; border:1px solid #dedede;border-spacing: 0;
    border-collapse: collapse; padding:0;border-spacing: 0;}
.info {color: #777;}
.info b{color: #3697CD;}
.alert {padding: 20px;background-color: #f44336; color: white;margin-bottom: 5px;}
.success {padding: 20px;background-color: #07b922; color: white;margin-bottom: 5px;}
.success a.textlink:link {color: white!important;}
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.closebtn:hover {
    color: black;
}

.yellow {font-size:14px; color:#444; background-color: yellow; border-radius:50%; border: 1px solid #f7bf04; padding:5px 7px; margin-right:5px;}
.left {float: left; padding:10px; margin-right:20px;}
.border-right {border-right: 1px dotted #dedede;}
.border-top {padding-top: 10px; border-top: 1px dotted #dedede;}
.capitalize {text-transform: capitalize;}
.element-edit-message {
  padding-bottom: 10px;
  border-bottom: 1px solid #ededed;
  border-top:0!important;
  margin-bottom: 15px;
  color: #777;
}

